@import "tailwindcss";

@theme {
  --color-primary: #1a365d;
  --color-secondary: #fbbf24;
  --color-accent: #10b981;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50;
  }
}
